DJANGO_DEBUG=false
DJANGO_SECRET_KEY=generate-a-long-random-secret
DJANGO_ALLOWED_HOSTS=letsplayekb.shop
DJANGO_CSRF_TRUSTED_ORIGINS=https://letsplayekb.shop

EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=letsplay.ekb@yandex.ru
ORDER_NOTIFICATION_EMAIL=letsplay.ekb@yandex.ru

# Disabled by default. Notifications never contain customer contacts or address.
TELEGRAM_ORDER_NOTIFICATIONS_ENABLED=false
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=

LEGAL_TRADE_NAME=LetsPlay
LEGAL_SELLER_NAME=Индивидуальный предприниматель Шкребтанов Дмитрий Николаевич
LEGAL_SELLER_STATUS=Индивидуальный предприниматель
LEGAL_SELLER_INN=665899750193
LEGAL_SELLER_OGRN=324665800061842
LEGAL_SELLER_ADDRESS=623706, Россия, Свердловская область, г. Екатеринбург, ул. Луначарского, д. 134
LEGAL_CONTACT_EMAIL=letsplay.ekb@yandex.ru
LEGAL_CONTACT_PHONE=+7 999 499-36-41
LEGAL_AVITO_URL=https://www.avito.ru/user/442a48b41e784b317061408ea1f569fc/profile?src=sharing
